!.gitignore
bin
ts-bsp/build
ts-bsp/.repo/
ts-bsp/README
ts-bsp/downloads/
ts-bsp/setup-environment
ts-bsp/sources/base/
ts-bsp/sources/Documentation/
ts-bsp/sources/meta-browser/
ts-bsp/sources/meta-freescale*/
ts-bsp/sources/meta-mono/
ts-bsp/sources/meta-openembedded/
ts-bsp/sources/meta-qt5/
ts-bsp/sources/meta-ts/
ts-bsp/sources/openembedded-core/
ts-bsp/sources/poky/
