[Unit]
Description=quickPhone Service
After=local-fs.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/quickPhone -platform eglfs

[Install]
WantedBy=multi-user.target
